<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Your triangle is a <span>@Model.TriangleTypeChecker()</span>.</h1>
    <button type="button" name="button" action="/back">push</button>
  </body>
</html>
